.header {
  padding: 10px 50px;
  margin: 20px;
  border: 10px solid black;
  background-color: aquamarine;
}

#navcontainer ul li {
  margin: 0;
  padding: 40px;
  display: inline;
  text-align: center;
}

#search {
  float: right;
  
}

.content { 
  padding: 20px 100px;
  margin: 10px 20px;
  border: 10px solid black;
  float: left;
}

.related {
  margin: 200px 50px 20px;
}

footer {
  text-align: center;
  float: none;
}